<div class="container">
  <div class="left-column">
    <div class="header">
      <div class="logo">Curriculum Vitae</div>
      <nav class="nav">
        <a href="#about">about</a>
        <a href="#">resumé</a>
        <!-- <a href="#">contact</a> -->
      </nav>
    </div>
    <div class="menu">
      <div class="cv-left-scroll">
        <div class="cv-inner-left-container">
          <section id="profile" class="cv-section cv-intro">
            <div class="cv-title-container">
              <h1 class="cv-title">Olwethu Mbada</h1>
              <p class="cv-subtitle">Software Developer</p>
            </div>

            <div class="cv-contact">
              <p><strong>Phone</strong> (+27)-71-813-0278</p>
              <p><strong>Email</strong> olwethumbada&#64;gmail.com</p>
              <p><strong>Address</strong> Midrand, Gauteng, 1682</p>
            </div>

            <div class="cv-socials">
              <a
                href="https://www.linkedin.com/in/olwethu-onward-mbada-399280154"
                target="_blank"
              >
                <img
                  src="assets/icons/linkedin.svg"
                  alt="Link icon"
                  width="40"
                  height="40"
                />
              </a>
              <a target="_blank" href="https://github.com/olwethuGIT"
                ><img
                  src="assets/icons/github.svg"
                  alt="Link icon"
                  width="40"
                  height="40"
              /></a>
            </div>
            <div class="cv-full-link">
              <a href="#about">See full CV ↓</a>
            </div>
          </section>

          <section id="about" class="cv-section">
            <div class="body-section">
              <div class="body-heading">
                <h2>About</h2>
                <hr />
              </div>
              <div class="body-text">
                <p>
                  I’m a full-stack developer passionate about building
                  accessible, high-impact digital experiences that are not only
                  beautifully designed but engineered for performance,
                  scalability, and clarity. I love crafting systems that bridge
                  user-centered design with clean, maintainable architecture,
                  whether it's a mobile app, web dashboard, or backend service.
                </p>
                <p>
                  Currently, I’m working across multiple platforms and teams,
                  leveraging tools like Angular, NestJS, and .NET to develop and
                  maintain enterprise-grade applications. My recent work has
                  included building real-time maintenance-notification systems
                  and WebSocket integrations, and mentoring junior developers as
                  part of cross-functional Agile teams.
                </p>
                <p>
                  Over the years, I’ve contributed to products in diverse
                  settings, from corporate ecosystems and government platforms
                  to start-ups. I’ve also had the chance to be part of a
                  hackathon, even reaching the finalist stage with a fintech
                  solution.
                </p>
                <p>
                  When I’m not coding, I’m usually sketching out new app ideas,
                  helping peers solve problems, or brainstorming how tech can
                  better serve everyday people — especially in underserved
                  markets.
                </p>
              </div>
            </div>
          </section>

          <section id="skills">
            <div class="body-section">
              <app-skills-expertise
                [skills]="skillsExpertise"
                [title]="'Skills & Expertise'"
              ></app-skills-expertise>
            </div>
          </section>

          <section id="work-experience">
            <div class="body-section">
              <app-work-experience
                [workExperiences]="workExperiences"
                [title]="'Work Experience'"
              ></app-work-experience>
            </div>
          </section>

          <section id="education">
            <div class="body-section">
              <app-education
                [educationList]="educationList"
                [title]="'Education'"
              ></app-education>
            </div>
          </section>
        </div>
      </div>
    </div>
    <div class="footer">
      Coded in Visual Studio Code by yours truly. Built with Angular and CSS,
      deployed with Netlify.
    </div>
  </div>

  <div class="right-column">
    <app-button></app-button>
    <img
      src="assets/images/Olwethu.jpg"
      alt="Profile photo"
      class="profile-image"
    />
  </div>
</div>
